h1
{
	font-family:"Sanchez",serif;
}

p
{
	font-family:"Raleway", sans-serif;
}

body
{
	color:white;
}

.section
{
	padding-left: 5%;
	padding-right: 5%;
	background-attachment: fixed !important;
	background-repeat:no-repeat;
	background-position:50% 20% !important;
	background-size: cover !important;
	
	
}


.optionOne
{
	background-color:#91e2a1;

	
	
}

.optionTwo
{
	background-color:#83b3db;
}

.content
{
	margin:auto;
	display:block;
	width:50%;
	border-radius:5px;
	padding:5%;
	margin-bottom:2%;
}

.optionOne .content
{
	background-color:#9ff49f;
}

.optionTwo .content
{
	background-color:#8cd3db;
}

.optionOne .imgContent
{
	background-image: linear-gradient(rgba(159, 244, 159, 0.65), rgba(159, 244, 159, 0.65));
	background-color: initial !important;
}

.optionTwo .imgContent
{
	background-image: linear-gradient(rgba(140,211,219, 0.65), rgba(140,211,219, 0.65));
	background-color: initial !important;
}

.fp-tableCell > h1
{
	text-align:center;
}

p
{
	font-size: 24px;
}

.secondSpot
{
	text-align:right;
}